<template>
  <v-layout row>
    <v-flex xs5 sm4
      ><v-card>
        <v-card-text>
          <v-select
            :items="seasons"
            label="Время года"
            v-model="season"
            @change="name => setTheme(name)"
            solo
          ></v-select>
        </v-card-text>
        <v-card-text>
          <div class="slider-text">Время:{{ time }}%</div>
          <v-slider v-model="time"></v-slider>
        </v-card-text>
        <v-card-text>
          <div class="slider-text">Бензин:{{ gas }}%</div>
          <v-slider v-model="gas"></v-slider>
        </v-card-text>
        <v-card-text>
          <div class="slider-text">Амортизация:{{ amortization }}%</div>
          <v-slider v-model="amortization"></v-slider>
        </v-card-text>
        <v-btn color="primary">Посчитать</v-btn>
      </v-card>
    </v-flex>
    <v-flex sm8><v-card>sdfsdgsdfgdfgdfgdf </v-card> </v-flex>
  </v-layout>
</template>

<script>
import { mapMutations } from "vuex";
import changeThemeColors from "src/helpers/changeThemeColors";
export default {
  name: "Home",
  data() {
    return {
      time: 0,
      gas: 0,
      amortization: 0,
      season: "winter",
      themeBySeason: { winter: "indigo", summer: "orange" },
      seasons: [
        { text: "Зима", value: "winter" },
        { text: "Лето", value: "summer" }
      ]
    };
  },
  methods: {
    ...mapMutations(["changeTheme"]),
    setTheme(name) {
      const color = this.themeBySeason[name];
      this.changeTheme(color);
      changeThemeColors(this.$vuetify.theme, color);
    }
  }
};
</script>

<style scoped>
.slider-text {
  font-weight: bold;
  font-size: 1rem;
}
</style>
