<template>
  <v-layout row>
    <v-flex xs12 sm6 offset-sm3>
      <v-card>sdfdfgdfg</v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: "Resources"
};
</script>

<style scoped></style>
